<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" role="button">EGEL</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['Inicio']">Inicio</a></li>
        <li><a [routerLink]="['Guia']">Gu&iacute;a</a></li>
        <li><a [routerLink]="['SimuladorExamen']">Simulador Examen</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <button (click)="cerrarSesion()" class="btn btn-success">Cerrar Sesion</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
