<div class="container-fluid">
	<div class="row">
 	 <div class="col-sm-3 col-md-2 sidebar">
 		 <ul class="nav nav-sidebar">
 			 <li *ngFor="#tema of temas" [class.active]="tema === selectedTema"><a (click)="onSelectTema(tema)">{{tema}}</a></li>
 		 </ul>
 	 </div>
 	 <div *ngIf="selectedTema" class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main" >
		 <div *ngFor="#profesor of profesores">
	 		<div *ngFor="#reactivo of profesor.reactivos">
	 			<div *ngIf="selectedTema == reactivo.tema">
					<div class="panel panel-primary">
						<div class="panel-heading">Tema: {{reactivo.tema}}</div>
						  <div class="panel-body">
								<h5>Pregunta</h5>
								<p>{{reactivo.pregunta}}</p>
								<h5>Retroalimentacion</h5>
								<p>{{reactivo.retroalimentacion}}</p>
								<div *ngFor="#opcion of reactivo.opciones" class="radio">
									<label>
										<input (click)="onSelectOpcion(opcion.acierto)"
										type="radio" [(ngModel)]="opcion.acierto" name="opcion" [value]="true">
										{{opcion.titulo}}
									</label>
								</div>
								<button (click)="enviar(selectedOpcion)" type="submit"
								class="btn btn-primary">Enviar respuesta</button>
								<br>
								<div class="text-danger" *ngIf="respuestaFalsa == true">Respuesta incorrecta</div>
								<div class="text-success" *ngIf="respuestaFalsa == false">Respuesta correcta</div>
						  </div>
					</div>
	 			</div>
	 		</div>
 	 </div>
  </div>
</div>
